<h1>{{title}}</h1>
<form method="POST">
    <fieldset>
        <label for="routineName">Name</label>
        <input type="text" name="routineName" id="routineName" required>
    </fieldset>
    <fieldset>
        <label for="hingeActivity">Hinge Activity</label>
        <input type="text" name="hingeActivity" id="hingeActivity" required>
    </fieldset>
    <fieldset>
        <label for="pushActivity">Push Activity</label>
        <input type="text" name="pushActivity" id="pushActivity" required>
    </fieldset>
    <fieldset>  
        <label for="squatActivity">Squat Activity</label>
        <input type="text" name="squatActivity" id="squatActivity" required>
    </fieldset>
    <fieldset>
        <label for="pullActivity">Pull Activity</label>
        <input type="text" name="pullActivity" id="pullActivity" required>
    </fieldset>
    <fieldset>
        <label for="cardioActivity">Cardio Activity</label>
        <input type="text" name="cardioActivity" id="cardioActivity" required>
    </fieldset>
    <fieldset>
        <label for="hingeWeights">Hinge Weight</label>
        <input type="number" name="hingeWeights" id="hingeWeights">
    </fieldset>
    <fieldset>
        <label for="pushWeights">Push Weight</label>
        <input type="number" name="pushWeights" id="pushWeights">   
    </fieldset>
    <fieldset>
        <label for="squatWeights">Squat Weight</label>
        <input type="number" name="squatWeights" id="squatWeights">
    </fieldset>
    <fieldset>
        <label for="pullWeights">Pull Weight</label>
        <input type="number" name="pullWeights" id="pullWeights">
    </fieldset>
    <fieldset>
        <label for="hingeSet">Hinge Sets</label>
        <input type="number" name="hingeSet" id="hingeSet" required>
    </fieldset>
    <fieldset>
        <label for="pushSet">Push Sets</label>
        <input type="number" name="pushSet" id="pushSet" required>
    </fieldset>
    <fieldset>
        <label for="squatSet">Squat Sets</label>
        <input type="number" name="squatSet" id="squatSet" required>
    </fieldset>
    <fieldset>
        <label for="pullSet">Pull Sets</label>
        <input type="number" name="pullSet" id="pullSet" required>
    </fieldset>
    <fieldset>
        <label for="hingeReps">Hinge Reps</label>
        <input type="number" name="hingeReps" id="hingeReps" required>  
    </fieldset>
    <fieldset>
        <label for="pushReps">Push Reps</label>
        <input type="number" name="pushReps" id="pushReps" required>
    </fieldset>
    <fieldset>
        <label for="squatReps">Squat Reps</label>
        <input type="number" name="squatReps" id="squatReps" required>
    </fieldset>
    <fieldset>
        <label for="pullReps">Pull Reps</label>
        <input type="number" name="pullReps" id="pullReps" required>
    </fieldset>
    <fieldset>
        <label for="cardioMinutes">Cardio Minutes</label>
        <input type="number" name="cardioMinutes" id="cardioMinutes" required>
    </fieldset>
    <button class="offset-3 btn btn-primary">Save</button>
</form>