<div class="indexContent">
<h1>{{title}}</h1>
<p>3rd yearComputer programming and analytics student at Georgian College. Build some d&d related apps in my spare time. C++, Javascript, python, WordPress, SQL, Express, Node.JS and more to come.</p>
</div>