<div class="indexContent">
    <div class="imgFix">
        <img src="/images/headshot.jpg">
            <div class="headerFix">
                <h1>Justin Logue's {{title}}</h1>
                <h3>Student, Nerd, Aspiring Web Developer</h3>
            </div>
        </div>
        <p>Computer programming and analytics student at Georgian College. Working on my diploma and a future as a Full-stack developer. C++, Javascript, python, WordPress, SQL, Express and Node.JS</p>
        
        <ul>
            <li>Github: https://github.com/JustinLogue</li>
            <li>Email: Jloguecoding@gmail.com</li>
            <li>Linkedin: https://www.linkedin.com/in/justin-logue-ba730a1b1/</li>
            <li>Blue Sky: https://bsky.app/profile/jlogue.bsky.social</li>
        </ul>
    
</div>