<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <img src="/images/gitnog.png" height="50 px">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/projects">My Projects</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Me</a>
      </li>

    </ul>
  </div>

</nav>
<div class="inner">
    {{{body}}}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>  </body>
</html>
