<div class="indexContent">
    <h1>My Favorite Projects</h1>
    <div class="displayArea">
        <div class="projectBox">
            <img src="/images/MysticArcive.png">
            <h3>Mystical Archive</h3>
            <p>A list of Magic the Gathering cards rewritten and d&d 5e spells.</p>
            <ul>
                <li>Repo: https://github.com/JustinLogue/MysticalArchive</li>
                <li>Live: https://justinlogue.github.io/MysticalArchive/</li>
            </ul>
        </div>
        <div class="projectBox">
            <img src="/images/tictactoe.png">
            <h3>Tic-Tac-Toe</h3>
            <p>A two player tic-tac-toe game.</p>
            <ul>
                <li>Repo: https://github.com/JustinLogue/Tic-Tac-Toe</li>
                <li>Live: https://justinlogue.github.io/Tic-Tac-Toe/</li>
        </div>
        <div class="projectBox">
            <img src="/images/oathBreaker.png">
            <h3>Oath Breaker</h3>
            <p>A quick app that scan Magic the Gathering's Api to find commanders for the Oath Breaker format.</p>
            <ul>
                <li>Repo: https://github.com/JustinLogue/Javascript-Assignment-4</li>
                <li>Live: https://justinlogue.github.io/Javascript-Assignment-4/</li>
        </div>
    </div>
</div>
