<h1>Works Out Types1</h1>
<h2>Hinges</h2>
<p>Glutes, hamstring and lower back exercises! </p>
<ul>
    <li>Deadlifts</li>
    <li>Back Extensions</li>
    <li>Good Mornings</li>
</ul>
<h2>Squats</h2>
<p>Quads, glutes and knees!</p>
<ul>
    <li>Back Squat</li>
    <li>Lunges</li>
    <li>Single Leg Squats</li>
</ul>
<h2>Push</h2>
<p>Pectorals, triceps and deltoids</p>
<ul>
    <li>Back Squat</li>
    <li>Lunges</li>
    <li>Single Leg Squats</li>
</ul>
<h2>Pull</h2>
<p>Lats, traps, biceps</p>
<ul>
    <li>Pull-Ups</li>
    <li>Seated Rows</li>
    <li>Bent Rows</li>
</ul>
